.label {
  font-weight: bold;
  font-size: 25px;
}
.botaoBasic{
  border-radius: 10px;
  border: orange solid 2px;
  height: 80px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.botaoAvancado{
  border-radius: 10px;
  border: green solid 2px;
  height: 80px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}