<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Pagamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="label">
    <ion-label>Escolha o seu plano</ion-label>
  </ion-grid>
  <ion-col style="margin-top: -20px;">
    <ion-button color="white" expand="full" class="botaoBasic">
      <div>R$ 29,90/mês</div>
    </ion-button>
    <ion-button color="white" expand="full" class="botaoAvancado">
      <div>R$ 39,90/mês</div>
    </ion-button>
  </ion-col>
  <ion-row style="padding-top: 280px;">
    <ion-col size="6">
      <ion-button color="danger" expand="block">Cancelar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="success" expand="block">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>