<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Itinerários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card -->
  <ion-card class="card" (click)="rota_cardClick()" *ngFor="let itinerario of itinerarios">
    <ion-card-content>
      <ion-grid>
        <!-- Título -->
        <ion-row>
          <ion-col size="11">
            <h1 class="h1" *ngIf="itinerario.seIda">
              {{itinerario.nomeDoItinerario}} - Ida
            </h1>
            <h1 class="h1" *ngIf="!itinerario.seIda">
              {{itinerario.nomeDoItinerario}} - Volta
            </h1>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="trash"></ion-icon>
          </ion-col>
        </ion-row>
        <!-- Rota -->
        <ion-row>
          <ion-col *ngIf="itinerario.seIda">
            Rota: <b>{{itinerario.seuLocal.nomeDoLocal}} - {{itinerario.parada1.nomeDoLocal}} - {{itinerario.faculdadeDestino.nomeDoLocal}}</b>
          </ion-col>
          <ion-col *ngIf="!itinerario.seIda">
            Rota: <b>{{itinerario.faculdadeDestino.nomeDoLocal}} - {{itinerario.parada1.nomeDoLocal}} - {{itinerario.seuLocal.nomeDoLocal}}</b>
          </ion-col>
        </ion-row>
        <!-- Faculdade -->
        <ion-row>
          <ion-col>
            Faculdade: <b>{{itinerario.faculdadeDestino.nomeDoLocal}}</b>
          </ion-col>
        </ion-row>
        <!-- Horário -->
        <ion-row>
          <ion-col>
            <p>{{itinerario.horaDeSaida}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/check-in">NAVEGAR PARA CHECK-IN</ion-button>
</ion-content>

<!-- FAB Adicionar Itinerário -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 15px; margin-right: 15px;">
  <ion-fab-button (click)="fabAdicionarItinerario_click()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
