<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Check-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-left: 5%; margin-right: 5%; margin-top: 20px;">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-img src="assets/img/kryslan_perfil.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <p style="font-size: 18px;">Kryslan</p>
        </ion-col>
        <ion-col size="1">
          <ion-img src="assets/img/simbolos/x.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-img src="assets/img/kryslan_perfil.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="9">
          <p style="font-size: 18px;">Kryslan</p>
        </ion-col>
        <ion-col size="1">
          <ion-img src="assets/img/simbolos/check.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- FAB Iniciar Rota Volta -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 15px; margin-right: 15px;">
  <ion-fab-button (click)="iniciarRota_fabClick()">
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>