<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-top: 20%; text-align: center; margin-left: 24px; margin-right: 24px;">
    <ion-grid style=" padding-bottom: 24px;">
      <!-- Logo (Imagem) -->
      <ion-row>
        <ion-col class="center-horizontal">
          <ion-img style="width:100px; height:100px;" src="assets/icon/logo_app.png"></ion-img>
        </ion-col>
      </ion-row>

      <!-- Título Recuperar Senha -->
      <ion-row class="center-horizontal">
        <h1 style="font-weight: 300;">Recuperar Senha</h1>
      </ion-row>
    </ion-grid>

    <!-- Input para anotar E-mail -->
    <ion-item >
      <ion-label position="floating">Email:</ion-label>
      <ion-input style="margin-top: 5px;" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-grid>

  <!-- Botão recuperar Senha -->
  <ion-grid class="fixBottom">
    <ion-row>
      <ion-col>
        <ion-button expand="block" style="margin-right: 10%; margin-left: 10%;" (click)="recuperarSenhaClick()">
          RECUPERAR SENHA
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
