<ion-app>

  <!-- Menu Lateral -->
  <ion-menu contentId="main-content">
    <ion-content>
      <ion-list lines="none">

        <h2 class="h2" style="padding-left: 13px;">
          {{nomeDoUsuario}}
        </h2>
        <h4 class="h4" style="padding-left: 13px;">
          {{tipoDeUsuario}}
        </h4>
       
        <!-- LINHA 1 -->
        <!-- Itinerários -->
        <ion-menu-toggle>
          <ion-item routerLink="/itinerarios" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="time"></ion-icon>
            <ion-label>
              Itinerários
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- LINHA 2 -->
        <!-- Motorista (Aluno e Responsável) -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="motorista_click()" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>
              Motorista
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- Alunos (Motorista) -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="aluno_click()" routerLinkActive="selected" routerDirection="root" detail="false">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label>
              Alunos
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- LINHA 3 -->
        <!-- Responsável (Aluno) -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="responsavel_click()" routerDirection="root" detail="false" >
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>
              Responsável
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- Dependentes (Motorista) -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="dependentes_click()" routerDirection="root" detail="false" >
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>
              Responsável
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- Dependente (Responsável) -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="dependente_click()" routerDirection="root" detail="false" >
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>
              Responsável
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- LINHA 4 -->
        <!-- Configurações -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="configuracoes_click()" routerDirection="root" detail="false" >
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>
              Responsável
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- Sair -->
        <ion-menu-toggle autoHide="false">
          <ion-item (click)="sair_click()" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Sair
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
