<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Entrar com Conta Cê Vai?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-top: 20%; text-align: center; margin-left: 24px; margin-right: 24px;">
    <ion-grid style=" padding-bottom: 24px;">
      <!-- Logo (Imagem) -->
      <ion-row>
        <ion-col class="center-horizontal">
          <ion-img style="width:100px; height:100px;" src="assets/icon/logo_app.png"></ion-img>
        </ion-col>
      </ion-row>
      <!-- Título Entrar com Usuário e Senha -->
      <ion-row class="center-horizontal">
        <h1 style="font-weight: 300;">Entrar com Usuário e Senha</h1>
      </ion-row>
    </ion-grid>
    <!-- Input E-mail -->
    <ion-item >
      <ion-label position="floating">Email:</ion-label>
      <ion-input style="margin-top: 5px;" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <!-- Input Senha -->
    <ion-item style="margin-top: 15px;">
      <ion-label position="floating">Senha:</ion-label>
      <ion-input style="margin-top: 5px;" type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-grid>

  <p style="color: #5E5E5E; text-align: center;" (click)="esqueceuASenha_click()">Esqueceu a Senha?</p>

  <!-- Botão Login -->
  <ion-grid class="fixBottom">
    <ion-row>
      <ion-col>
        <ion-button expand="block" style="margin-right: 10%; margin-left: 10%;" (click)="login_click()">
          LOGIN
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
