<ion-header></ion-header>

<ion-content>

  <ion-img src="assets/img/kryslan_perfil.jpg" style="width:100%; max-width:600px;"></ion-img>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" style="margin-right: 5%; margin-left: 5%;">
          <ion-icon slot="start" name="chatbubbles"></ion-icon>
          MENSAGEM
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" style="margin-right: 5%; margin-left: 5%;">
          <ion-icon slot="start" name="call"></ion-icon>
          LIGAÇÃO
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-grid style="margin-right: 5%; margin-left: 5%;">
      <p>Nome Completo: <b>Kryslan Gomes</b></p>
      <p>Telefone: <b>(31) 9 8599-5474</b></p>
      <p>Idade: <b>24 anos</b></p>
      <p>CPF: <b>13226677640</b></p>
      <p>Responsável: <b>Sara de Jesus</b></p>
    </ion-grid>

  </ion-grid>

</ion-content>
