<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Alunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-left: 5%; margin-right: 5%; margin-top: 20px;">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-img src="assets/img/kryslan_perfil.jpg"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <p style="font-size: 18px;">Kryslan</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- FAB Adicionar Aluno -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 15px; margin-right: 15px;">
  <ion-fab-button (click)="fabAdicionarAluno_click()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>