<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h2>Topique chegando</h2>
      <div class="notificacaoTopiqueChegando">
        <p>
          <span>Receba notificação 10 minutos antes</span>
          <span> da topique chegar na sua casa.</span>
        </p>
      </div>
    </ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Topique saindo</h3>
      <div class="notificacaoTopiqueSaindo">
        <p>
          <span> Receba notificação 10 minutos antes </span>
          <span> da topique sair da sua escola. </span>
        </p>
      </div>
    </ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Mensagens</h3>
      <div class="notificacaoMensagens">
        <p>
          <span>Receba notificação de mensagens</span>
          <span>de outros usuários.</span>
        </p>
      </div>
    </ion-label>
    <ion-toggle>
    </ion-toggle>
  </ion-item>
  <ion-row style="padding-top: 280px;">
    <ion-col size="6">
      <ion-button color="danger" expand="block">Cancelar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="success" expand="block">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>