.geralConfiguracoes {
  color: #21A7EB;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
};

.reconhecimentoFacialConfiguracoes {
  color: #21A7EB;
  margin-top: 30px;
  margin-left: 5px;
  font-weight: bold;
};
